html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        
        width: 1140px;
        height: 145vh;
        margin: 70px auto 100px auto;
        //border: 5px solid blue;
        display: flex;
        flex-direction: column;
      
}
}