.head {
    // border: 5px solid red;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    #name {
        width: 50%;
        h1 {
            
            font-size: 2.1rem;
            font-family: $headingFontFamily;           
        }   

    }
    #whoWeAre {
        
        margin-top: 10px;
        h3,p {
            font-family: $textFontFamily;
            font-size: 1.1rem;
        }
        h3 {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        
    }
}
@media (max-width: 970px){
    .head {
        flex-direction: column;

        #name {
            width: 100%;    
        }
        
    #whoWeAre {
        // 100vw for text wrap
        width: 100vw;
        margin-top: -10px;
        p { 
            font-size: 0.9rem;
            margin-top: -20px;       
        }
    }
    }
    
}













