.main{
    //border: 5px solid yellow;
    display: flex;
    flex-direction: column;

    .row1 {
        // border: 5px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .row2 {
        // border: 5px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .member2,.member5{
        margin-top: 120px;
    }

    img{
        
        width: 300px;
        height: 430px;
        border-radius: 1%;
    }

    .crew {
        // border: 5px solid green;
        position: relative;
        span {
            position: absolute;
            writing-mode: vertical-lr;
            margin-left: 15px;
            text-transform: uppercase;
            font-weight: lighter;
            
        }
        p {
            font-family: $textFontFamily;
            margin-top: 15px;
            font-weight: 600;
        }
    }
    
}